body {  
    background-color: #0a0a0a ;
    color: rgb(252, 250, 250);
}
article {
     color:rgb(255, 141, 47); 
}
<nav>
  <ul>
    <li> {

 }

 .resaltado {
    color: rgb(255, 136, 0);
}
.Titulo1{ 
    text-align: center;
    font-size: 3rem;
}
article{ 
    padding: 1.5rem;
    border-bottom: 1px, solid, white;
  
}
.ilustracion{ 
    border: 4px, solid, white;
    


}